<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="UTF-8">
    <title>测试一个资讯详情页</title>
    <link rel="stylesheet" type="text/css" href="static/css/information_detail.css">

</head>

<div id="information_detail_header"
    style="float: left;">
    <p style="font-size: 18px">蝴蝶产生的原因</p>

    <img width="40px"
         height="40px"
         src="https://t10.baidu.com/it/u=3814885032,1134461766&fm=173&app=25&f=JPEG?w=500&h=424&s=969516CEC47451964D277CB80300C01E">

</div>

<body>

</body>
</html>