<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试CSS</title>
    <link rel="stylesheet" type="text/css" href="static/css/testing_css.css">
    <link rel="stylesheet" type="text/css" href="static/css/circle.css">
    <style type="text/css">
      /* 内部样式 */
      h3{color:green;}
    </style>
</head>
<body>
<br>

为什么又没了

<div style="background-color: deepskyblue"class="bouncing-loader">
  <div></div>
  <div></div>
  <div></div>
</div>

<div class="circle">

</div>

<img src="static/preview_music_theme.png"/>

<p>试一试p标签，第一</p>
<br>
<p>试一试p标签，<sub>第二</sub>></p>
<hr>
<h1>郭德纲</h1>
<h2>于谦</h2>
<h3>岳不群</h3>

</body>
</html>